{
	"singleQuote": true,
	"useTabs": true,
	"semi": true,
	"tabWidth": 4,
	"printWidth": 80,
	"quoteProps": "consistent",
	"trailingComma": "none",
	"singleAttributePerLine": true,
	"bracketSpacing": true
}

